@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime

<PageTitle>ShmupSpace (KNI BlazorGL)</PageTitle>

<div id="canvasHolder" style="width: 720px; height: 960px; flex-shrink: 0; background: #000;">
    <canvas id="theCanvas" style="touch-action:none; width: 720px; height: 960px; display: block;"></canvas>
</div>
