/src/.vs
/src/obj
/tests/FlatRedBall2.Tests/bin
/tests/FlatRedBall2.Tests/obj
/src/bin
/samples/PlatformerSample/bin
/samples/PlatformerSample/obj
/samples/SampleProject1/.vs
/samples/SampleProject1/bin
/samples/SampleProject1/obj
/samples/SpaceInvadersSample/bin
/samples/SpaceInvadersSample/obj
/samples/ShmupSample/bin
/samples/ShmupSample/obj
samples/KoalaPickleSample/bin/Debug/net9.0/Apos.Shapes.dll
/samples/KoalaPickleSample/bin
/samples/KoalaPickleSample/obj
/samples/ShipSample/bin
/samples/ShipSample/Content/obj
/samples/ShipSample/obj
/samples/TopDownMenuSample/bin
/samples/TopDownMenuSample/obj
/samples/TopDownMenuSampleWithCodeGen/bin
/samples/TopDownMenuSampleWithCodeGen/obj
/samples/ZombieSample/bin
/samples/ZombieSample/obj
/samples/PongGravity/bin
/samples/PongGravity/obj
/samples/BouncingBallsSample/bin
/samples/BouncingBallsSample/obj
/samples/BouncingBallsSample/Content/obj
samples/SampleProject1/.claude/settings.local.json
/samples/SampleProject1/Content/bin
/samples/SampleProject1/Content/obj
